.sidebar {
    max-width: 25%;
    display: block;
    height: 100vh; /* Pełna wysokość okna przeglądarki */
    background-color: #131F24;
    position:absolute;
    text-align: left;
    top: 0;
    left: 0;
    z-index: 9999; /* Ustawienie wyższego indeksu z-index, aby upewnić się, że sidebar nie jest przykrywany przez inne elementy */
    transition: transform 0.3s ease; /* Płynne przejście przy ukrywaniu */
    transform: translateX(0); /* Domyślnie widoczny */
}

.sidebar-logo {
    width: 80%; /* Szerokość logo */
    height: auto; /* Automatyczna wysokość */
    margin: 0.4rem 0 0.9rem 0; /* Odstęp między logo a tekstem */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}



.sidebar ul li button {
    margin-bottom: 1.5vh;
    font-size: 1.2vw;
    color: #D1D1D1;
    min-width: 90%;

}

/* Stylizowanie przycisków */
.sidebar .MuiButton-outlined {
    padding: 1.8vh 2vw;
    justify-content: flex-start; /* Ustala położenie tekstu i ikony wewnątrz przycisku */
    border: 1px solid transparent; 
    border-radius: 12px;
    color: #D1D1D1; /* Kolor tekstu */
    background-color: transparent; /* Tło przezroczyste */
    transition: border 0.3s ease; /* Płynna animacja dla obwódki */
}

.sidebar .MuiButton-outlined:hover {
    border: 1px solid #2F7A7E; /* Obwódka po najechaniu */
    background-color: rgba(0, 0, 0, 0.1); /* Opcjonalnie dodaj tło po najechaniu */
}

.button-icon {
    width: 2.5vw; /* Szerokość ikony */
    height: 2.5vw; /* Wysokość ikony */
    margin-right: 10px; /* Odstęp między ikoną a tekstem */
}

.sidebar .MuiButton-outlined a {
    text-decoration: none;
    color: inherit; /* Dziedziczy kolor z przycisku */
}


/* Media queries dla mniejszych ekranów */
/* @media (max-width: 60rem) { */
    .sidebar {
        transform: translateX(-100%); /* Ukrywa sidebar na mniejszych ekranach */
    }
  
    .sidebar.open {
        transform: translateX(0); /* Pokazuje sidebar, gdy otwarty */
        text-align: center;
    }

    .sidebar-button {
        display: none; /* Pokazuje przycisk hamburgera */
        position: absolute;
        
        top: 34pt; /* Środek w pionie */
        left: 22pt; /* Środek w poziomie */
        transform: translate(-50%, -50%); /* Przesunięcie o połowę szerokości i wysokości, aby wyśrodkować */
        z-index: 99999; /* Wyższy indeks z-index dla przycisku hamburgera */
        background: #131F24;
        border: none;
        color: #D1D1D1;
        padding: 5px;
        border-radius: 12px;
        border: 2px solid #2F7A7E;
        cursor: pointer;
        min-width: 3rem;
    }

    .sidebar-button:hover {
        background: #2F7A7E;
    }

