.btn-start {
    width: 200pt;
    display: block;
    padding: 10px 15px;
    background-color: #2F7A7E; /* Główny kolor tła */
    color: white; /* Kolor tekstu */
    border: none; /* Bez obramowania */
    border-radius: 5px; /* Zaokrąglenie krawędzi */
    margin: 10pt auto; /* Marginesy */
    font-size: 16px; /* Rozmiar czcionki */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Przejrzystość dla animacji */
  }
  
  /* Efekt najechania */
  .btn-start:hover {
    background-color: #2c8d8f; /* Zmiana koloru tła */
  }
  
  /* Efekt kliknięcia */
  .btn-start:active {
    transform: scale(0.95); /* Lekkie zmniejszenie rozmiaru */
    background-color: #1A5456; /* Inny kolor tła przy kliknięciu */
  }
  