.messages-label {
    color:#fff;
    font-style: bold;
    font-size: medium;
    padding-bottom: 3pt;
    font-size: 1.8vw;
    width: 250pt;
    font-weight: bold;
    border-bottom: #2F7A7E 1px solid;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-bottom: 20pt;
}

.messages-list {
    width: 80%;
}
.single-message {
    font-size: 1.2vw;
    color: #D1D1D1;
    min-width: 90%;
    height: 4rem;
    border: 1px solid transparent; 
    border-radius: 12px;
    background-color: transparent;
    padding: 1vh 1vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
}

.single-message:hover {
    transition: border 0.3s ease; /* Płynna animacja dla obwódki */
    border: 1px solid #2F7A7E; /* Obwódka po najechaniu */
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.message-topic {
    text-align: left;
    font-weight: bold;
}

.message-time {
    text-align: right; /* Wyrównanie tekstu do prawej */
    font-size: 0.8rem;
    color: #D1D1D1;
    opacity: 0.5;
    margin-right:20pt;
}

.message-description{
  background-color: #131F24;
  color: #D1D1D1;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 20rem;
  height: 50%;
  max-width: 20vw;
  max-height: 55vh;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto; /* Ustawienie na dole kontenera */
  border: 1px solid #2F7A7E;
}

.message-topic-desc {
    border-bottom:1px solid #2F7A7E;
    width: 80%;
    text-align: center;
    padding-bottom: 4pt;
    font-weight: bold;
}

.message-content-desc {
    margin-top: 10pt;
}

.message-topic, .message-content, .message-topic-desc {
    white-space: nowrap;   /* Zapobiega łamaniu wiersza */
    overflow: hidden;      /* Ukrywa tekst, który nie mieści się w elemencie */
    text-overflow: ellipsis; /* Dodaje "..." na końcu tekstu, jeśli nie mieści się w szerokości */
}

.sender-data {
    font-size: 0.6rem;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-shrink: 1;
}
