.message-label {
    color:#fff;
    font-style: bold;
    font-size: medium !important;
    padding-bottom: 3pt;
    font-size: 1.8vw !important;
    width: 15vw;
    margin-bottom: 5vh;
    border-bottom: #2F7A7E 1px solid;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}

.message-form {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 85%;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    border: #2F7A7E 1px solid;
    color: #D1D1D1;
    opacity: 1;
}

input:placeholder-shown {
    background-color: #131F24;
}

input:not(:placeholder-shown) {
    background-color: #131F24;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Zwiększenie cienia przy najechaniu */
    filter: brightness(1.3);
}

input::placeholder {
    color: #D1D1D1; 
    opacity: 1;
}

textarea {
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    border: #2F7A7E 1px solid;
    color: #D1D1D1;
    opacity: 1;
}

.message-form textarea:placeholder-shown {
    background-color: #131F24;
}

textarea:not(:placeholder-shown) {
    background-color: #131F24;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    filter: brightness(1.3);
}

textarea::placeholder {
    color: #D1D1D1;
    opacity: 1;
}

.text-input-title {
    min-height: 3rem;
    margin-bottom: 10pt;

}

.text-input-description {
    min-height:20rem;

}

.btn-send {
    background-color: #2F7A7E;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.btn-send:hover {
    background-color: #1E585B; /* Zmiana koloru przy najechaniu */
}
